@tailwind base;
@tailwind components;
@tailwind utilities;

/* .navc {
  background-color: theme("color.dark-grey");
}

.testc {
  background-color: theme("color.grey-test");
}

:fullscreen {
  width: 500px;
} */

/* Imad */
.line {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid black;
}

.App {
  text-align: center;

}

.question {
  display: flex;
  justify-content: space-between;
}
.answer {
  display: flex;
}
.details {
  display: flex;
  font-size: 10px;
}
.side {
  display: flex;
  font-size: 10px;
}
.photos {
  display: flex;
}
.load {
  font-size: 10px;
}
.imgSize {
  height: 100%;
  width: 100%;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
